<div class="field">
  <label>{{ label }}</label>
      <input
      *ngIf="controlType === 'input'"
      class="input"
      [type]="inputType"
      [formControl]="control"
      [ngClass]="{'is-danger': showErrors()}">

      <textarea
      *ngIf="controlType === 'textarea'"
      [formControl]="control"
      [ngClass]="{'is-danger': showErrors()}"></textarea>
        <div *ngIf="showErrors()"class="ui pointing red basic label">
          <p *ngIf="control.errors.required">
            This field is required
          </p>
          <p *ngIf="control.errors.minlength">
            Your value is {{control.errors.minlength.actualLength}}
            characters long but it must be atleast {{control.errors.minlength.requiredLength}} characters
          </p>
          <p *ngIf="control.errors.maxlength">
            Your value is {{control.errors.maxlength.actualLength}}
            characters but can not be longer than {{control.errors.maxlength.requiredLength}} characters
          </p>
          <p *ngIf="control.errors.pattern">
            Your username can only contain letters and numbers
          </p>
          <p *ngIf="control.errors.nonUniqueUsername">
            This username is already taken
          </p>
          <p *ngIf="control.errors.noConnection">
            It appears you do not have any internet connection
          </p>
          <p *ngIf="control.errors.email">
            This does not look like an email
          </p>
        </div>



</div>
